.App {
   text-align: center;
   background-image: url(./components/assets/thumb-1920-542730.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   min-height: 100vh;
}

.App.home {
   background-image:url(./components/assets/gifForm.gif) ;
   background-position: center;
   background-size: cover;
   background-color: black;
}










