.eachCharacter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ALL */

.h1All{
    color: white;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonPages{
    display: flex;
}

.h1All h1{
    margin: 0;
    background-color: rgba(51, 10, 90, 0.782);
    padding: 4px;
    height: 100%;
    width: 30%;
    border-radius: 50%;
}

.buttonsFav{
    background-color: rgba(51, 10, 90, 0.462);
    width: 28%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
}

.buttonsFav button{
    border: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsFav button:hover{
    cursor: pointer;
}

.buttonsFav button:disabled{
    color: grey;
    cursor:not-allowed;
}

.buttonsFav button:hover svg{
    transform: scale(1.1);
}

.buttonsFav button h3{
    background-color:rgba(111, 20, 195, 0.741) ;
    padding: 5px;
    border-radius: 45%;
}

.buttonsFav button:hover h3{
    background-color:rgba(34, 4, 61, 0.727) ;
}

@media screen and (max-width:900px){
    .buttonsFav{
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        height: 110px;
    }

    .h1All h1{
        width: 70%;
    }
}