.divNav{
    display: flex;
    justify-content: space-around;
    background-color: #9aa6e743;
    border-radius: 50%;
}

.navDivUl{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navDivUl ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navDivUl ul li{
    margin: 5px;
}

.navDivUl ul li button{
    background-color: #3f51b5;
    border: 1px solid #4961e9;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 1.2s;
    transition: height 2s ease;
}

.navDivUl ul li button:hover{
    cursor: pointer;
    background-color: #9aa6e7;
    border: 1px solid #2847f5;
}


@media screen and (max-width:900px){
    .divNav{
        flex-direction: column;
        background-color: #dadef422;
    }

    .navDivUl{
        width: 100%;
        margin: auto;
    }

    .navDivUl ul li{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navDivUl ul li a button{
        width: 100%;
    }

    .navDivUl ul li a button h3{
        font-size: 15px;
    }

    .navDivUl ul li a button h4{
        font-size: 10px;
    }

    .navDivUl ul{
        justify-content: space-around;
    }
}


